_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
.jekyll-cache*
_drafts/
_jupyter/*.db
_jupyter/*.csv
.ipynb*
*/.ipynb_checkpoints/*
_tabs/.ipynb_checkpoints/*
